h1 {
    text-align: center;
  }

.about-text {
  margin: 1rem 19rem;
  letter-spacing: .03rem;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .about-text {
    margin: 1rem 1rem;
    letter-spacing: .03rem;
    text-align: left;
  }
}